/* styles.css */


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F110C;
    font-family: "Kode Mono", monospace;
}

a {
    color: inherit; /* This sets the link color to inherit the color from its parent element */
    text-decoration: none; /* This removes the underline from the links */
}

a:hover {
    color: #80909D; /* This ensures the color remains unchanged on hover */
    text-decoration: underline; /* This ensures the underline remains removed on hover */
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.page-header {
    color: #CECCCC;
    grid-column: 1;
    grid-row: 1;
    padding-left: 1vw;
}

.stations-wrapper {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}

.review-wrapper {
    grid-column: 1;
    grid-row: 2 / 4;
    color: #CECCCC;
    padding-left: 1vw;
}

.greenline-grid {
    background-repeat: no-repeat;
    background-size: 90vh;
    grid-template-columns: repeat(12, 1fr);
}

.orangeline-grid {
    background-repeat: no-repeat;
    background-size: contain;
    grid-template-columns: repeat(11, 1fr);
}

.redline-grid {
    background-repeat: no-repeat;
    background-size: contain;
    grid-template-columns: repeat(15, 1fr);
}

.blueline-grid {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-item .clickable {
    padding: 12px;
    text-align: center;
}

.clickable {
    background: #0B0C08;
    color: #CECCCC;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    width: 10%;
    height: 5%;
    margin: 10px;
    font-family: "Kode Mono";
}

.clickable:hover {
    background: #353535;
    cursor: pointer;
}

.greenline-grid .clickable {
    border: 1px solid #21A179;
}

.orangeline-grid .clickable {
    border: 1px solid #F26419;
}

.redline-grid .clickable {
    border: 1px solid #D00000;
}

.blueline-grid .clickable {
    border: 1px solid #25CED1;
}